appname               = opencovibe-web
version               = __VERSION__
display_name          = OpenCovibe Web
desc                  = 原生 Web 版 Claude Code 与 Codex 图形界面。1、先安装应用中心里的 nodejs24。2、npm 安装 claudecode 或 codex（建议额外搭配 cc-switch-cli 项目）。3、安装 OpenCovibe-web 应用。4、若有问题或优化 idea，可在 GitHub 提交 issue。
platform              = all
source                = thirdparty
maintainer            = ZoomBili
maintainer_url        = https://github.com/ZoomBili/OpenCovibe-web
distributor           = ZoomBili
distributor_url       = https://github.com/ZoomBili/OpenCovibe-web
desktop_uidir         = ui
desktop_appname       = opencovibe-web.Application
desktop_applaunchname = opencovibe-web.Application
service_port          = 9476
checkport             = true
reloadui              = yes
checksum              = __CHECKSUM__
